.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f324e;
    width: 100%;
    height: 100vh;

}
.contenedorIB {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #385075;
    border-radius: 2%;
    
}
/* Style for the image */
.logo {
    width: 500PX; /* Adjust the width as needed */
    height: 200PX; /* Adjust the height as needed */
    border-radius: 20%; /* Make the image round */
}

/* Style for the text */
.titulo {
    font-style: normal normal normal 30px/38px "interbold";
    font-size: 30px; /* Adjust the font size as needed */
    color: #fff; /* Adjust the text color as needed */
    text-align: center; /* Center the label */
}

/* Style for the label */
.campo {
    width: 18rem; /* Adjust the width as needed */
    height: 3REM; /* Increase the height */
    font-size: 24px; /* Increase the font size */
    color: #666; /* Adjust the label color as needed */
    text-align: center; /* Center the label */

}

.boton {
    width: 18rem; /* Adjust the width as needed */
    height: 3REM; /* Increase the height */
    background-color: #404142; /* Set the background color */
    color: #fff; /* Set the text color */
    font-size: 24px; /* Increase the font size */
    border: none; /* Remove the border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
    display: flex; /* Set display to flex */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin: 10px auto; /* Add margin */
    text-decoration: none; /* Remove text decoration */
}

/* Style for the button on hover */
.boton:hover {
    background-color: #365583; /* Change the background color */    
}
.texto {
    color: #fff; /* Adjust the text color as needed */
    margin-top: 40px; /* Add margin to the top */
}
.link{
    color: aquamarine;
}
.link:hover{
    color: #11a3f1;
}