.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #18273E;
    color: #FFFFFF;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-actions {
    display: flex;
    gap: 10px;
  }
  
  .btn-crear-profesor,
  .btn-cerrar-sesion,
  .btn-actualizar-datos,
  .btn-lista{
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn-crear-profesor:hover {
    background-color: #4DA9C5;
  }
  
  .btn-cerrar-sesion:hover {
    background-color: #FF4E4E;
  }
  .btn-actualizar-datos:hover {
    background-color: #18273E;
    color: #FFFFFF;
  }
  .btn-lista:hover {
    background-color: #628dce;
    color: #FFFFFF;
  }
  

  
  .main-content {
    margin-top: 20px;
  }
  